html, body {
    padding: 0;
    border: 0;
    background-color: #eeeeee;
}

.container {
    width: 95%;
    padding: 0;
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 17px;
    }
}
@media only screen and (min-width: 993px){
    .container {
        width: 85% !important;
    }
}
.articles {
    background-color: #fff;
}
.main-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0 0 0;
}
.pb-5 {
    padding-bottom: 50px;
}
