html, body {
    padding: 0;
    border: 0;
    background-color: #eeeeee;
}

.container {
    width: 95%;
    padding: 0;
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 17px;
    }
}
@media only screen and (min-width: 993px){
    .container {
        width: 85% !important;
    }
}
.articles {
    background-color: #fff;
}
.main-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0 15px 0;
}
.pb-5 {
    padding-bottom: 50px;
}
.alert {
    background: rgb(226, 181, 181);
    color: darkRed;
    padding: 1rem;
    margin-bottom: 1rem;
    /* width: 50%; */
    border: 1px solid darkRed;
    border-radius: 5px;
}
.lead{
    font-size: 25px;
    font-style: italic;
    margin-top: 10px;
}
p.uppercase {
    margin-top: 0;
}